In [1]:
### Run this cell before continuing. 
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
source("tests.R")
source("cleanup.R")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [5]:
data <- read_csv("data/RealEstateAU_1000_Samples.csv")

data_clean <- data |>
    select(land_size, property_type, state, bedroom_count, price)
data_clean

Rows: 1000 Columns: 27
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (17): breadcrumb, category_name, property_type, building_size, land_siz...
dbl   (7): index, TID, location_number, zip_code, bedroom_count, bathroom_co...
lgl   (2): latitude, longitude
dttm  (1): RunDate

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     land_size property_type state bedroom_count price
1    NA        House         NT    2             $435,000
2    NA        Apartment     NT    3             Offers Over $320,000
3    NA        Unit          NT    2             $310,000
⋮    ⋮         ⋮             ⋮     ⋮             ⋮
998  800m²     House         NT    4             $655,000
999  450m²     House         NT    4             $675,000
1000 NA        Unit          NT    2             $399,000